{/* this is for styling all across*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {/* this is for the body*/
    font-family: Arial, sans-serif;
    background-color: #b7b3b3;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}
/* this is the styling for the nav bar*/
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
/* this is what makes items centralised in the page*/
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {/*header styling*/
    margin-bottom: 10px;
    color: #4CAF50;
}

form {/*form styling*/
    display: flex;
    flex-direction: column;
}

label {/* space below each label */
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {/*button styling */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}

button:hover {/* when you hover over the buttons*/
    background-color: #45a049;
}
/*fav list*/
#favorites-list {
    list-style-type: none;
    padding: 0;
}

#favorites-list li {
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
}
/* this is for the dark mode function*/
body.dark-mode{
    background-color: black;
    colour: white;
}
main.dark-mode {
    background-color: #3e3b3b;
}
